<!-- ipAddress section -->
<!-- <h1> Your ip address is: <h1> -->
<!-- <h2>{{ipAddress.country}}</h2> -->

<!-- Country selector -->
<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-12">
    <!-- <form [formGroup]="form" (ngSubmit)="submit()"> -->
    <div class="col-md-3">

      <!-- <label for="orders">Select Your Country</label> -->
    </div>

    <!-- <div class="col-md-2"></div> -->
    <!-- <div class="col-md-2">
              <select formControlName="orders" id="orders">
                <option *ngFor="let order of orders; let i = index" [value]="orders[i].id">
                  {{orders[i].name}}
                </option>
              </select>
            </div> -->
    <br>
    <!-- <button>submit</button> -->
    <!-- </form> -->
  </div>
</div>
<br>
<br>
<!-- <div class="row col-md-12">
  <div class="col-md-12">
    <h3>Select Region</h3>
  </div>
</div>
<div class="row col-md-12">
  <div class="col-md-3">
    <select selected="INDIA">
      <option value="INDIA">INDIA</option>
      <option value="USA">USA</option>
      <option value="Caneda">Caneda</option>
    </select>
  </div>
  <div class="col-md-6">
    <button nbButton hero status="danger" (click)='Topayment()'>Next</button>
  </div>
</div> -->


<!-- <nb-card>
  <nb-card-header>Payment</nb-card-header>
  <nb-card-body> -->

<!-- Money selector -->
<div class="container">
  <div class="col-md-12">
    <span *ngIf="allDone" style="color: green; font-size: 50px;"> Payment done :) </span>

    <p>Select a amonunt you want to pay</p>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
        <select class="form-control" (change)="openCheckout($event)">
          <option selected="true" disabled="disabled">Choose one</option>
          <option *ngFor="let v of pay" [value]="v.value">{{v.money}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <h3>Enter Your Payment Amount</h3>
  </div>
  <div class="row col-md-12">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <input type="number" name="payment" [(ngModel)]="amount">
    </div>
    <div class="col-md-6">
      <!-- <button nbButton hero status="danger" type="button" name="button" (click)="lgbtnclick()">Pay</button> -->
    </div>
  </div>
</div>
<!-- </nb-card-body>
</nb-card> -->
<!-- </div> -->
<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
  <div class="form-row">
    <div class="col-md-12">
      <div class="col-md-6"></div>
      <!-- <div class="col-md-2"> -->
      <label for="card-info">Card Info</label>

      <div id="card-info" #cardInfo></div>
      <!-- </div> -->
    </div>
    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>

  <button type="submit">Pay {{amount}} </button>
</form>